<footer>
  <div class="footer-content">
    <h3>Blog XXX</h3>
    <p>Developer by Marcos</p>
    <p>Copyright © 2024 - All right reserved</p>
  </div>
  <div class="social-media">
    <a href="http://github.com/marcossilva11" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
  </div>
</footer>
