<header>
    <nav>
        <div class="siteName">
            BLOG XXX
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/addPost">Adicionar post</a></li>
            </ul>
        </div>
    </nav>
</header>