<header>
  <nav class="nav-bar">
    <div class="logo"><a href="/">BLOG XXX</a></div>
    <div class="nav-list" onclick="toggleMenu()">
      <ul>
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/addPost" class="nav-link">Adicionar post</a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-icon">
      <button onclick="showMenu()"><i class="bi bi-list icon" id="icon-menu"></i></button>
    </div>
  </nav>
  <div class="mobile-menu">
    <ul>
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="/addPost" class="nav-link">Adicionar post</a>
      </li>
    </ul>
  </div>
</header>

<script src="/js/menu.js"></script>
